/*Base Styles*/
body{
	font-family: 'Oxygen' ,serif;
	font-size: 16px;
	color: #555;
}

/*Navbar Start*/
.navbar-header{
	height: 100px;
}
.navbar-toggle{
	margin-top: 40px;
}
.navbar-brand a{
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
#nav-list li{
	background: #fff;
	border:1px solid #000;
	border-top:none;
}
#nav-list li:nth-child(1){
	border-top:1px solid #000;
}
#nav-list li a{
	color: #222;
}
/*Navbar End*/
#tall-section{
	background: #eee;
}